<div id="content">
  <table id="admintabel">

      <tr>
          <td class="ce">
              <% for image in @staff.images %>
                <%= render "/images/image", :locals => { :id => image.id }  %><br/>
              <% end %>
          </td>
          <td class="cd">
            <p>
              <b><%= @staff.name %></b>, 
              <% for paragraf in @staff.paragrafs %>
                <%=h paragraf.body %><br/>
              <% end %>
            </p><br>
          </td>
        </tr>
        <tr>
          <td class="ce">
            <%= link_to 'Edit', edit_staff_path(@staff) %> |
            <%= link_to 'Back', staffs_path %>
          </td>
          <td class="cd">
          </td>
        </tr>
  </table>
</div>
