<p id="notice"><%= notice %></p>


<p>
  <% for image in @staff.images %>
   <%= render "/images/image", :locals => { :id => image.id }  %><br/>
   <% end %>
</p>

<p>
   <%= @staff.name %> 
   <% for paragraf in @staff.paragrafs %>
   <%=h paragraf.body %><br/>
   <% end %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
