<div class="grid_12">
  <h3 class="grid_12 alpha gama omega">Books</h3>
  <div class="grid_12 alpha gama omega">
    <p class="grid_6 omega">
      The Legat Saga: Nicolai Gustavovitch Legat 1869 – 1937<br>
      By John Gregory<br>
      Published by Javog Publishing Associates 1993
    </p>
    <%= image_tag "TheLegatSaga.jpg", alt: "TheLegatSaga", class: "grid_1 gama" %>    
  </div>
  <div class="grid_12 alpha gama omega">
    <p class="grid_6 omega">
      Heritage of a Ballet Master: Nicolas Legat<br>
      By Andre Eglevsky and John Gregory<br>
      Published by Dance Books Ltd. 1978
    </p>
    <%= image_tag "HeritageofaBalletMaster.jpg", alt: "HeritageofaBalletMaster", class: "grid_1 gama" %>    
  </div>
  <div class="grid_12 alpha gama omega">
    <p class="grid_6 omega">
      Preparation for Ballet<br>
      By N. Nicolaeva-Legat<br>
      Published by Gerald Duckworth & Co. Ltd. 1953
    </p>
    <%= image_tag "PreparationforBallet.jpg", alt: "PreparationforBallet", class: "grid_1 gama" %>    
  </div>
  <div class="grid_12 alpha gama omega">
    <p class="grid_6 omega">
      Ballet education<br>
      By Nadine Nicolaeva-Lega<br>
      Published by Geoffrey Bles 1947
    </p>
    <%= image_tag "BalletEducation.jpg", alt: "BalletEducation", class: "grid_1 gama" %>    
  </div>
  <div class="grid_12 alpha gama omega">
    <p class="grid_6 omega">
      Ballet Russe: Memoirs of Nicolas Legat<br>
      Translated by Sir Paul Dukes<br>
      Published by Methuen & Co. Ltd. 1939
    </p>   
  </div>
  <div class="grid_12 alpha gama omega">
    <p class="grid_6 omega">
      The Story of the Russian School <br>
      By Nicolas Legat with a Foreword by Sir Paul Dukes<br>
      Published by British Continental Press Ltd. 1932
    </p>    
  </div>
  <div class="grid_12 alpha gama omega">
    <p class="grid_6 omega">
      Russian Ballet in Caricatures <br>
      By Nikolai Legat and Sergei Legat<br>
      1902 – 1905
    </p>
    <%= image_tag "RussianBalletinCaricatures.jpg", alt: "RussianBalletinCaricatures", class: "grid_1 gama" %>    
  </div>
</div>