<div class="grid_12">
  <h3 class="grid_12 beta gama omega">NIKOLAI GUSTAVOVITCH LEGAT</h3>
  <%= image_tag "nicolay_legat.jpg", alt: "nicolay_legat", class: "grid_2 gama omega" %>
  <p class="grid_10 alpha beta gama">
    Dancer, Ballet Master & Artist; 27th Dec. 1869 - 24th Jan. 1937; born in St. Petersburg, Russia; 
    was a 3rd generation dancer and his ancestors came from Sweden. 
    He was awarded a State Scholarship to the Imperial Theatre School at a very young age and later he became the favourite pupil of the extraordinary professor Christian Johannsen. 
    Legat not only had a brilliant career as premier danseur but also flourished under Marius Petipa’s direction.  
    He extremely enjoyed creating choreography for famous colleagues but above all he was distinguished as a ballet master of The Class of Perfection.
    <small>Reference: Andre Eglevsky & John Gregory: Heritage of a Ballet Master: Nicolas Legat. Dance Books Ltd. 1978</small>
  </p>
  <p class="grid_10 alpha beta gama">
    Nikolai (Nicolas) Legat and his wife, Nadine Nicolaeva, came to Great Britain from Russia in 1923. 
    Whilst Nadine continued to perform in the theatre, the Maestro opened a school in London and many famous dancers attended his classes.
  </p>
  <p class="grid_10 alpha gama omega">
    As the school progressed a system of examinations was set up for the benefit of the graduating students, some of whom went on to have successful careers in ballet. 
    After the death of her husband in 1937, Nadine Nicolaeva-Legat carried on with the training in the school which he had established.  
    With the outbreak of World War Two, in 1939 she transferred her school from London into the countryside subsequently establishing the first ballet boarding school in Great Britain.
    When Nadine retired in 1967 and the responsibility of training and teaching the Legat System of Classical Ballet was passed on to one of her former pupils, 
    Eunice Biedryski Bartell, (nee Gibson), (Ballerina, Anglo-Polish Ballet, Dancing Act, "Leon and Eunice Bartell", Principal Legat School, 1967-1986).
    Sadly Nadine passed away in 1971.
  </p>
  <%= image_tag "nadine_legat.jpg", alt: "nadine_legat", class: "grid_2 alpha beta gama" %>
  <p class="grid_12 alpha omega">
    Although the school closed down in 1986, 
    Mme. Bartell transferred the office the Russian Ballet Society to Edinburgh and by that time, 
    had introduced the Legat System and the Russian Ballet Society Syllabus of Examinations to many schools in other parts of the world.
    Some of Mdme. Bartell’s former pupils became ballet teachers and eventually training in the Legat System was set up in other countries: 
    Cyprus, Italy, Malta, Thailand including Scotland, England, Japan and USA all of whom hold examinations regularly.
  </p>
  <%= image_tag "students1.jpg", alt: "students1", class: "grid_4 alpha omega students" %>
  <%= image_tag "students2.jpg", alt: "students2", class: "grid_3 alpha students" %>
  <%= image_tag "students3.jpg", alt: "students3", class: "grid_2 alpha gama students" %>
  <p class="grid_3 beta gama">
    On the 25th anniversary of the death of Nadine Nicolaeva-Legat, 
    in 1996 a Scholarship was launched by the Society to give a promising student a free place at the International Summer Ballet Course.
  </p>
  <p class="grid_12 alpha gama omega">
    The Society has created a new website <a href="www.russianballetsociety.co.uk" target="_blank">www.russianballetsociety.co.uk</a> and Mdme. 
    Bartell is now Honorary President whilst Deborah Adamou from Cyprus has been appointed President of the Russian Ballet Society; 
    Olivia Dow from Malta as vice-President; and Robert Hampton from UK as Artistic Director of the Society.
  </p>
  <p class="grid_12 alpha gama omega">
    The Russian Ballet Society is a validated awarding organisation and a member of the CDET: Council for Dance Education and Training in UK.  
    The qualifications are accredited by the regulatory authorities in England, Wales and Northern Ireland, OFQUAL: 
    Office of Qualifications and Examinations Regulation.  The ballet certificates of the Performance Arts Awards are issued by Rockschool Ltd. 
    (RSL) in UK in partnership with the Society.  The Society is also a member of the CID: International Dance Council.
  </p>
  <p class="grid_12 alpha gama omega">
    In 2013, a cultural association the Italian Russian Ballet Society in Italy was founded and operates under the agreed guidelines of the mother-association in Edinburgh.
  </p>
  <p class="grid_12 alpha gama omega">
    A 2 week International Summer Ballet Course is held annually covering classes: Pas de Deux; Modern and Character; 
    Repertoire and Pointe Work; including Boys Technique. 
    A production for the End of Course performance is set up for the students who have attended the 2 week training.
  </p>
</div>
