<%= form_for(@paragraf) do |f| %>
  <% if @paragraf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paragraf.errors.count, "error") %> prohibited this paragraf from being saved:</h2>

      <ul>
      <% @paragraf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :staff_id %><br>
    <%= f.number_field :staff_id %>
  </div>
  <div class="field">
    <%= f.label :article_id %><br>
    <%= f.number_field :article_id %>
  </div>
  <div class="field">
    <%= f.label :act_id %><br>
    <%= f.number_field :act_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
