<h1>Listing paragrafs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Staff</th>
      <th>Article</th>
      <th>Act</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paragrafs.each do |paragraf| %>
      <tr>
        <td><%= paragraf.title %></td>
        <td><%= paragraf.body %></td>
        <td><%= paragraf.staff_id %></td>
        <td><%= paragraf.article_id %></td>
        <td><%= paragraf.act_id %></td>
        <td><%= link_to 'Show', paragraf %></td>
        <td><%= link_to 'Edit', edit_paragraf_path(paragraf) %></td>
        <td><%= link_to 'Destroy', paragraf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paragraf', new_paragraf_path %>
