<%= form_for([@article, @comment = @article.comments.build]) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="prefix_2 grid_1 alpha beta omega">
    <p>
      <%= f.label :author %>:
    </p>
    <div class="actions container grid_1">
    </div>
    <p>
      <%= f.label :email %>:
    </p>
    <div class="actions container grid_1">
    </div>
    <p>
      <%= f.label :body %>:
    </p>
  </div>

  <div class="grid_6 alpha beta gama omega">
    <p>
      <%= f.text_field :author, cols: "40", placeholder: "Required", class: "grid_4 alpha beta omega" %>
    </p>
    <div class="container grid_4">
    </div>
    <p>
      <%= f.text_field :email, cols: "40", placeholder: "Required", class: "grid_4 alpha beta omega" %>
    </p>
    <div class="container grid_4">
    </div>
    <p>
      <%= f.text_area :body, cols: "40", rows: "5", placeholder: "Leave your comment here...", class: "grid_4 alpha beta omega" %>
    </p>
  </div>
  <div class="prefix_1 grid_2 alpha beta omega"><%= f.text_field :nickname, :hint => 'Leave this field blank!', class: "grid_1 alpha beta omega hidden" %></div>
  <div class="actions grid_6 alpha beta gama omega">
    <%= f.submit 'Post comment', class: "grid_2 beta omega" %>
  </div>
<% end %>
