<p id="notice"><%= notice %></p>

<p>
  <strong>Adress:</strong>
  <%= @clip.adress %>
</p>

<p>
  <strong>Act:</strong>
  <%= @clip.act_id %>
</p>

<%= link_to 'Edit', edit_clip_path(@clip) %> |
<%= link_to 'Back', clips_path %>
