<div id="content">
  <h1>Listing articles</h1>
  <section id="mainContent">
    <% @articles.each do |article| %>
      <article class="blogpost">
        <header class="abNews">
          <h2><%= article.title %></h2>
          <p class="sig">Posted on <%= article.created_at  %> by <a href="#"><%= article.author %></a> - <a href="#comments"><%= article.comments.size %> comments</a></p>
        </header>

        <br>
        
        <%= link_to 'Show', article %> | <%= link_to 'Edit', edit_article_path(article) %> | 
        <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
      </article>
    <% end %>

    <br>

    <%= link_to 'New Article', new_article_path %>
  </section>
</div>
