<article class="blogpost gridten_9 beta">
  <%= render 'articles/header' %>
  <%= render 'articles/body' %>
  <section class="navigation">
    <%= link_to 'Back', articles_path %>
    <% if current_user %>
       | <%= link_to 'Edit', edit_article_path(@article) %>
    <% end %>
  </section>
</article>
<%=render "layouts/aside"%>


