<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :poster %><br>
    <%= f.text_field :poster %>
  </div>
  <%= f.fields_for :images do |fi| %>
     <%= render "images/image_fields", :f => fi %>
     <%= fi.check_box :_destroy %>
     <%= fi.label :_destroy, "Remove image" %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
