<header>
  <h1>Albums</h1>
</header>


<% @albums.each do |album| %>
  <div id="album-fotos">
      <a href="/albums/<%= album.id %>" id="foto<%= album.id %>"><span><%= album.title %></span></a>
  </div>
  <%= album.poster %> | <%= link_to 'Show', album %> | <%= link_to 'Edit', edit_album_path(album) %> | 
  <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %><br>


<%= link_to 'New Album', new_album_path %>
