<div class="backgroundsize">
  <div class="background" onClick="closeAlbum()">
    <div class="box">
      <div class="left"><%= image_tag "photoSliderLeftButton.png", class: "icon" %></div>
      <a href="<%= albums_path %>" class="close"><%= image_tag "close-button.png", class: "icon" %></a>
      <div class="right"><%= image_tag "photoSliderRightButton.png", class: "icon" %></div>
      <section class="slides">
        <ul>
          <% for image in @album.images %>
            <li class="photo"><%= render "/images/image", :locals => { :id => image.id }  %></li>
          <% end %>
        </ul>
      </section>
      <section class="navigation grid_12">
      <% if current_user %>
       | <%= link_to 'Edit', edit_album_path(@album) %>
      <% end %>  
    </section>
    </div>
  </div>
</div>