<% @performances.each do |performance| %>
  <div class="grid_4">
    <div class="media-menu">
        <a href="/performances/<%= performance.id %>">
          <% for image in performance.images %>
            <%= render "/images/image", :locals => { :id => image.id }  %>
          <% end %>
          <span><%= performance.title %></span>
        </a>
    </div>

    <% if current_user %>
      <section class="navigation">
        <%= link_to 'Show', performance %>
        | <%= link_to 'Edit', edit_performance_path(performance) %> | 
        <%= link_to 'Destroy', performance, method: :delete, data: { confirm: 'Are you sure?' } %>
      </section>
    <% end %>
  </div>
<% end %>

<% if current_user %>
  <section class="navigation grid_12">
    <%= link_to 'New Performance', new_performance_path %>    
  </section>
<% end %>
