<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @performance.title %>
</p>

<p>
  <strong>Poster:</strong>
  <%= @performance.poster %>
</p>

<%= link_to 'Edit', edit_performance_path(@performance) %> |
<%= link_to 'Back', performances_path %>
