<p id="notice"><%= notice %></p>

<p>
  <strong>Adress:</strong>
  <%= @image.adress %>
</p>

<p>
  <strong>Data:</strong>
  <%= @image.data %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @image.staff_id %>
</p>

<p>
  <strong>Article:</strong>
  <%= @image.article_id %>
</p>

<p>
  <strong>Album:</strong>
  <%= @image.album_id %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
