<div id="interface">
  <header id="mainH">
    <div class="grid_3 gama">
      <%= image_tag "animlog.gif", alt: "Logo", id: "logo" %>
    </div>
    <div id="centH" class="grid_6 textcenter gama"><b><i>
      <h1>Olivia Dow</h1>
      <h2>School of Russian Ballet</h2>
      <h3>The finest coaching tradition in</h3>
      <h3>Russian Classical Ballet – Legat System in Malta</h3></b></i>
    </div>
    <div id="contacts" class="grid_3 gama">
      <p>Accredited member of:</p>
      <p><a href="http://www.russianballetsociety.co.uk/" target="_blank"><%= image_tag "rbslogo.jpg", class: "icon" %></a>
        <a href="http://www.cid-portal.org/" target="_blank"><%= image_tag "cid-logo.jpg", class: "icon" %></a>
        <a href="http://www.cdet.org.uk/" target="_blank"><%= image_tag "cdetlogo.jpg", class: "icon" %></a>
        <a href="http://ofqual.gov.uk/" target="_blank"><%= image_tag "ofquallogo.jpg", class: "icon" %></a></p>
      <p>Olivia Dow School of Russian Ballet</p>
      <p>106, Leli Falzon Street, Naxxar, Malta.</p>
      <p>Tel: 2158 3368, 2141 9725.</p>
      <p>Fax: 2142 2592. Mobile: 9947 4127.</p>
      <p>email: <a href="mailto: info@oliviadow.net" class="dark_a" >info@oliviadow.net</a></p>
    </div>
  </header>
